
body {
    background-image: url("hecate.png");
}

.top-card {
    border: solid;
    background-color: #5278A6;
    min-width: 1300px;
    /*width: 100%;*/

}

.submitted-picture {
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
    vertical-align: top;
}

.picture-card {
    /* overflow: scroll; 
    height: 900px;
    width: 600px; */
}

.picture-card>img {
    max-height: 900px;
    max-width: 600px;
    height: auto;
    width: auto;
}

.transformed-picture {
    display: inline-block;
    /*height: 900px;
    width: 600px;*/
    vertical-align: top;
    margin-top: 50px;
}
