<!DOCTYPE html>
<html>
    <body>

          <h1>Photomosaic</h1>
          <h3 class="index-size"> Upload a picture to turn it into a mosaic</h3>

    <div class="forms ">
             <form action = "http://localhost:5000/uploader" method = "POST"
                                                 enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
             </form >

            <form id="url_form" method="post" action="http://localhost:5000/uploader_url">
              <div class="input-container">
                <input class="image-url" id="url_box" name="url" maxlength="100000" placeholder="Upload or enter Image URL"  type="text"  />
              </div>
              <input class="submit-button" id="url_submit" name="search_button" value=""  type="submit" />
            </form>
        </div>
    </body>
</html>